@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}
* {
	box-sizing: border-box;
	letter-spacing: -0.05em;
	font-family: Pretendard-Regular;
    color: #343434;
}

body {
    margin: 0px;
}

.wrap {
    width: 777px;
    height: 936px;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #F1F1F1;
}
.container {
	width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.info {
    background-color: white;
    border: 1px solid #A3A3A3;
    width: 658px;
    height: 296px;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 25px 40px;
}
.inner>div, .inner>div>div {
    display: flex;
}

.date-area {
    justify-content: space-between;
}
.date-area img {
    width: 24px;
    height: 24px;
}
.date-area>div:nth-child(1) {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.date-area>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 5px;
}
.date-area>div:nth-child(2)>div:nth-child(1) {
    background-color: black;
    color: white;
    padding: 3px 7px;
    margin-right: 5px;
}
.today-date {
    font-weight: bold;
}

.commonpoint-area {
    position: relative;
}
.commonpoint-area>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    line-height: 200%;
}
.commonpoint-area>div:nth-child(1) {
    padding-left: 34px;
}

.att-info-box {
    display: flex;
    position: absolute;
    top: 9;
    right: 0;
    padding: 20px;
    background-color: #F1F1F1;
    border: 1px solid #A3A3A3;
    font-weight: bold;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 38px;
}
.att-info-box label {
    color: #CF3F3D;
}

#submit-btn {
    position: absolute;
    top: 9;
    right: 0;
    padding: 20px;
    background-color: #F1F1F1;
    border: 1px solid #A3A3A3;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 38px;
    cursor: pointer;
    display: flex;
}
#submit-btn:hover {
    background-color: #567ACE;
    border: 1px solid #A3A3A3;
    color: white;
}

.client-area {
    position: relative;
}
.client-area>div>div{
    gap: 5px;
}
.client-profile {
    display: flex;
    background-color: #f1f1f1;
    border-radius: 100px;
    width: 100px;
    height: 100px;
}
.client-info {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.client-info>div {
    display: flex;
    padding-left: 20px;
}
.client-name {
    display: flex;
    align-items: flex-end;
}
#name {
    font-size: 20px;
}
.client-point>div, .client-attday>div {
    display: flex;
    align-items: center;
}
.client-point>div:nth-child(1) {
    background-color: #567ace;
    color: white;
    padding: 3px;
}
.client-attday>div:nth-child(1) {
    background-color: #99abd6;
    color: white;
    padding: 3px;
}

.point-area {
    position: absolute;
    right: 0;
    justify-content: space-evenly;
    background-color: #F1F1F1;
    border: 1px solid #A3A3A3;
    width: 312px;
    height: 100%;
}
.point-area>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bold, #attPoint, #point, #attday {
    font-weight: bold;
}

.content-bottom {
    width: 658px;
    height: 70%;
}
.sun{
    color:#ef3333;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.content-bottom table tr th, .btn-wrap>td{
    width: 14.2%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
thead>tr:nth-child(2)>th {
    background-color: #d9d9d9;
    border: 1px solid #A3A3A3;
}
.active{
    background: #0b0809;
    border-radius: 50%;
    color: #ffffff;
}

.btn-wrap {
    height: 50px;
}

.calendar-body>tr>td {
    height: 73px;
    background-color: white;
    border: 1px solid #A3A3A3;
    padding: 10px;
    vertical-align: top;
}
.calendar-body>tr>td img {
    width: 50px;
    height: 50px;
}

.flex {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}