<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">

	<!-- 관리자 로그인 -->
	<select id="login" resultType="AdminVo">
		SELECT NO, ID AS ADMIN_ID, PWD AS ADMIN_PWD
		FROM ADMIN
		WHERE ID = #{adminId}
		AND PWD = #{adminPwd}
	</select>

	<!-- 공지사항 전체 글 카운드 -->
	<select id="listCount" resultType="int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE DELETE_YN = 'N'
	</select>
	
	<!-- 공지사항 목록 조회 -->
	<select id="selectList" resultType="NoticeVo">
		SELECT N.NO, N.TITLE, CONCAT(SUBSTR(CONTENT, 1, 28),'...') AS CONTENT, SUBSTR(WRITE_DATE, 1, 8) AS WRITE_DATE, N.DELETE_YN, A.ID AS ADMIN_NO
		FROM NOTICE N
		INNER JOIN ADMIN A
		ON A.NO = N.ADMIN_NO
		WHERE N.DELETE_YN = 'N'
		<if test=" keyword != null and keyword != '' ">
			WHERE ${category} LIKE '%${keyword}%'
		</if>
		ORDER BY NO DESC
	</select>
	
	<!-- 공지사항 작성 -->
	<insert id="noticeWrite">
		INSERT INTO NOTICE
		(
			NO,
			ADMIN_NO,
			TITLE,
			CONTENT,
			WRITE_DATE
		)
		VALUES
		(
			SEQ_NOTICE_NO.NEXTVAL,
			#{adminNo},
			#{title},
			#{content},
			SYSDATE
		)
	</insert>
	
	<!-- 공지사항 상세조회 -->
	<select id="selectNotice" resultType="NoticeVo">
		SELECT N.NO, A.ID AS ADMIN_NO, N.TITLE, N.CONTENT, N.FIXE_YN, SUBSTR(WRITE_DATE, 1, 8) AS WRITE_DATE, N.DELETE_YN
		FROM NOTICE N
		INNER JOIN ADMIN A
		ON A.NO = N.ADMIN_NO
		WHERE N.NO = #{no}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice">
		UPDATE NOTICE SET WRITE_DATE = SYSDATE, TITLE = #{title}, CONTENT = #{content}
		WHERE NO = #{no}
	</update>
	
	<!-- 공지사항 삭제 -->
	<update id="deletNotice">
		UPDATE NOTICE SET DELETE_YN = 'Y'
		WHERE NO = #{no}
	</update>
	
	<!-- 전체 회원 수 카운드 -->
	<select id="memberCount" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
	</select>
	
	<!-- 회원 목록 조회 -->
	<select id="selectMemberList" resultType="MemberVo">
		SELECT NO, NICK, SUBSTR(PHONE, 1, 3) || '-' || SUBSTR(PHONE, 4, 4) || '-' || SUBSTR(PHONE, 8) AS PHONE, EMAIL, TO_CHAR(POINT,'fm999,999,999,999') AS POINT, BANK, ACCOUNT, DEPOSITOR, STATUS
		FROM MEMBER
		WHERE STATUS = 'Y'
		<if test=" keyword != null and keyword != '' ">
			WHERE ${category} LIKE '%${keyword}%'
		</if>
		ORDER BY NO DESC
	</select>
	
	<!-- 회원정보 상세조회 -->
	<select id="selectMember" resultType="MemberVo">
		SELECT NO, NICK, GENDER, PHONE, EMAIL, TO_CHAR(POINT,'fm999,999,999,999') AS POINT, BANK, ACCOUNT, DEPOSITOR, STATUS, SUBSTR(ENROLL_DATE, 1, 8) AS ENROLL_DATE
		FROM MEMBER
		WHERE NO = #{no}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember">
		UPDATE MEMBER SET NICK = #{nick}, PHONE = #{phone}, EMAIL = #{email}, POINT = #{point}, BANK = #{bank}, ACCOUNT = #{account}, DEPOSITOR = #{depositor}
		WHERE NO = #{no}
	</update>
	
	<!-- 전체 프로젝트 수 카운드 -->
	<select id="projectCount" resultType="int">
		SELECT COUNT(*)
		FROM PROJECT
	</select>
	
	<!-- 프로젝트 목록 조회 -->
	<select id="selectProjectList" resultType="ProjectVo">
		SELECT P.NO, M.NICK AS CREATOR, CONCAT(SUBSTR(P.TITLE, 1, 28),'...') AS TITLE, C.NAME AS CATEGORY, TO_CHAR(P.PRICE,'fm999,999,999,999') AS PRICE, P.START_DATE, P.END_DATE, P.STATUS
		FROM PROJECT P
		LEFT JOIN MEMBER M ON P.CREATOR = M.NO
		JOIN PRJ_CATEGORY C ON P.CATEGORY = C.NO
	   <if test=" keyword != null and keyword != '' ">
	      WHERE ${category} LIKE '%${keyword}%'
	   </if>
		ORDER BY NO DESC
	</select>
	
	<!-- 프로젝트 상세조회 -->
	<select id="selectPrj" resultType="ProjectVo">
		SELECT P.NO, P.TITLE, C.NAME AS CATEGORY, TO_CHAR(P.PRICE,'fm999,999,999,999') AS PRICE, P.START_DATE, P.TIME, P.END_DATE, P.URL, P.SUMMARY, P.STATUS
		FROM PROJECT P
		LEFT JOIN MEMBER M ON M.NO = P.CREATOR
		JOIN PRJ_CATEGORY C ON C.NO = P.CATEGORY
		WHERE P.NO = #{no}
	</select>
	
	<!-- 프로젝트 승인 -->
	<update id="updateProject">
		UPDATE PROJECT SET STATUS = '승인됨'
		WHERE NO = #{no}
	</update>
	
	<!-- 프로젝트 반려 -->
	<update id="cancelProject">
		UPDATE PROJECT SET STATUS = '반려됨'
		WHERE NO = #{no}
	</update>
	
	<!-- 전체 신고된 프로젝트 수 카운드 -->
	<select id="deProjectCount" resultType="int">
		SELECT COUNT(*)
		FROM REPORT
	</select>
	
	<!-- 신고된 프로젝트 목록 조회 -->
	<select id="selectDeProjectList" resultType="ReportVo">
		SELECT R.NO, M.NICK AS REPORTER, T.TITLE, R.CONTENT, R.PRJ, SUBSTR(R.ENROLL_DATE, 1, 8) AS ENROLL_DATE, R.STATUS
		FROM REPORT R
		LEFT JOIN MEMBER M ON R.NO = M.NO
		JOIN REPORT_TITLE T ON R.TITLE = T.NO
		<if test=" keyword != null and keyword != '' ">
			WHERE ${category} LIKE '%${keyword}%'
		</if>
		ORDER BY NO DESC
	</select>
	
	<!-- 신고된 프로젝트 상세조회 -->
	<select id="selectReport" resultType="ReportVo">
		SELECT R.NO, P.TITLE AS PRJ, T.TITLE AS TITLE, R.CONTENT, R.AD_COMMENT, R.STATUS, SUBSTR(R.ENROLL_DATE, 1, 8) AS ENROLL_DATE
		FROM REPORT R
		LEFT JOIN PROJECT P ON R.PRJ = P.NO
		JOIN REPORT_TITLE T ON R.TITLE = T.NO
		WHERE R.NO = #{no}
	</select>
	
	<!-- 신고된 프로젝트 접수 -->
	<update id="updateReport">
		UPDATE REPORT SET AD_COMMENT = #{adComment}, STATUS = 'Y'
		WHERE NO = #{no}
	</update>
	
	<!-- 전체 FAQ 수 카운드 -->
	<select id="faqCount" resultType="int">
		SELECT COUNT(*)
		FROM FAQ
		WHERE DELETE_YN = 'N'
	</select>
	
	<!-- FAQ 목록 조회 -->
	<select id="selectFaqList" resultType="FaqVo">
		SELECT F.NO, F.TITLE, C.NAME AS CATEGORY, CONCAT(SUBSTR(CONTENT, 1, 28),'...') AS CONTENT, A.ID AS ADMIN_NO, SUBSTR(WRITE_DATE, 1, 8) AS WRITE_DATE, F.DELETE_YN
		FROM FAQ F
		LEFT JOIN ADMIN A ON F.ADMIN_NO = A.NO
		JOIN FAQ_CATEGORY C ON C.NO = F.CATEGORY
		WHERE F.DELETE_YN = 'N'
 		<if test=" keyword != null and keyword != '' ">
			AND ${category} LIKE '%${keyword}%'
		</if>
		ORDER BY NO DESC
	</select>

	<!-- FAQ 작성 -->
	<insert id="faqWrite">
		INSERT INTO FAQ
		(
			NO,
			ADMIN_NO,
			TITLE,
			CATEGORY,
			CONTENT,
			WRITE_DATE
		)
		VALUES
		(
			SEQ_NOTICE_NO.NEXTVAL,
			#{adminNo},
			#{title},
			#{category},
			#{content},
			SYSDATE
		)
	</insert>

	<!-- FAQ 상세조회 -->
	<select id="selectFaq" resultType="FaqVo">
		SELECT F.NO, A.ID AS ADMIN_NO, F.TITLE, F.CATEGORY, F.CONTENT, F.DELETE_YN, SUBSTR(F.WRITE_DATE, 1, 8) AS WRITE_DATE
		FROM FAQ F
		LEFT JOIN ADMIN A ON F.ADMIN_NO = A.NO
		<!-- JOIN FAQ_CATEGORY C ON F.CATEGORY = C.NO -->
		WHERE F.NO = #{no}
	</select>

	<!-- FAQ 수정 -->
	<update id="updateFaq">
		UPDATE FAQ SET WRITE_DATE = SYSDATE, TITLE = #{title}, CATEGORY = #{category}, CONTENT = #{content}
		WHERE NO = #{no}
	</update>

	<!-- FAQ 삭제 -->
	<update id="deleteFaq">
		UPDATE FAQ SET DELETE_YN = 'Y'
		WHERE NO = #{no}
	</update>

	<!-- 전체 고객센터 문의 수 카운드 -->
	<select id="helpCount" resultType="int">
		SELECT COUNT(*)
		FROM HELP
	</select>
	
	<!-- 고객센터 문의 목록 조회 -->
	<select id="selectHelpList" resultType="HelpVo">
		SELECT H.NO, H.TITLE, H.CONTENT, M.NICK AS MEMBER_NO, SUBSTR(H.WRITE_DATE, 1, 8) AS WRITE_DATE, H.STATUS
		FROM HELP H
		INNER JOIN MEMBER M
		ON H.MEMBER_NO = M.NO
		<if test=" keyword != null and keyword != '' ">
			WHERE ${category} LIKE '%${keyword}%'
		</if>
		ORDER BY NO DESC
	</select>
	
	<!-- 고객센터 문의 상세조회 -->
	<select id="selectHelp" resultType="HelpVo">
	   SELECT H.NO, H.TITLE, M.NICK AS MEMBER_NO, H.CONTENT, H.STATUS, SUBSTR(H.WRITE_DATE, 1, 8) AS WRITE_DATE, H.AD_COMMENT, A.ID AS ADMIN_NO
	   FROM HELP H
	   LEFT JOIN ADMIN A ON H.ADMIN_NO = A.NO
	   JOIN MEMBER M ON H.MEMBER_NO = M.NO
	   WHERE H.NO = #{no}
	</select>

	<!-- 고객센터 문의 답변 작성 -->
	<update id="updateHelp">
		UPDATE HELP SET ADMIN_NO = #{adminNo}, AD_COMMENT = #{adComment}, STATUS = 'Y'
		WHERE NO = #{no}
	</update>
	
	<!-- 탈퇴 질문 등록 -->
	<insert id="quitWrite">
		INSERT INTO QUIT
		(
			NO,
			CONTENT,
			ADMIN_NO
		)
		VALUES
		(
			SEQ_QUIT_NO.NEXTVAL,
			#{content},
			#{adminNo}
		)
	</insert>
	
	<!-- 고객센터 문의 목록 조회 -->
	<select id="selectQuitList" resultType="QuitVo">
		SELECT Q.NO, A.ID AS ADMIN_NO, Q.CONTENT, Q.DELETE_YN
		FROM QUIT Q
		INNER JOIN ADMIN A
		ON Q.ADMIN_NO = A.NO
		WHERE Q.DELETE_YN = 'N'
	</select>
	
	<!-- FAQ 삭제 -->
	<update id="deleteQuit">
		UPDATE QUIT SET DELETE_YN = 'Y'
		WHERE NO = #{no}
	</update>
	
</mapper>








