<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">

	<insert id="chatRoom">
		INSERT INTO CHAT
		(
			NO,
			NAME
		)
		VALUES
		(
			SEQ_CHAT_NO.NEXTVAL,
			#{sendNo}
		)
	</insert>
	
	<insert id="msgSend">
		INSERT INTO CHAT_MESSAGE
		(
			NO,
			SEND_NO,
			RECE_NO,
			CONTENT,
			WRITE_DATE
		)
		VALUES
		(
			SEQ_CHAT_MESSAGE_NO.NEXTVAL,
			#{sendNo},
			#{receNo},
			#{message},
			SYSDATE
		)
	</insert>
	
	<!-- 채팅 목록 조회 -->
	<select id="selectList" resultType="ChatMessageVo">
			SELECT CM.SEND_NO AS NO, M.NICK AS SEND_NO, CONTENT, SUBSTR(CM.WRITE_DATE, 1, 8) AS WRITE_DATE
			FROM CHAT_MESSAGE CM
            JOIN MEMBER M
            ON CM.SEND_NO = M.NO
            WHERE(SEND_NO, WRITE_DATE)
            IN(
                SELECT SEND_NO, MAX(WRITE_DATE) AS WRITE_DATE
                FROM CHAT_MESSAGE
                GROUP BY SEND_NO
                )
			ORDER BY WRITE_DATE DESC
	</select>
	
</mapper>