<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eventMapper">

	<insert id="insertAttendance">
		INSERT INTO ATTENDANCE
		(
			NO
			, ATT_DATE
		)
		VALUES
		(
			#{no}
			, SYSDATE
		)
	</insert>

	<update id="updatePoint">
		UPDATE MEMBER
		<if test=" att == 7 ">
			SET
				POINT = POINT + 500
		</if>
		<if test=" att == 30 ">
			SET
				POINT = POINT + 3000
		</if>
		<if test=" att == 365 ">
			SET
				POINT = POINT + 45000
		</if>
		<if test=" att != 0 and att > 0 ">
			SET
				POINT = POINT + 10
		</if>
		WHERE
			NO = #{no}			
	</update>
	
	<select id="selectTodayAtt" resultType="int">
		SELECT COUNT(*)
		FROM ATTENDANCE
		WHERE NO = #{no}
		AND ATT_DATE LIKE '%' || SUBSTR(SYSDATE, 1, 8) || '%'
	</select>
	
	<!-- 로그인멤버 출석한 날짜 전부 배열로 -->
	<select id="selectAttList" resultType="String">
		SELECT SUBSTR(ATT_DATE, 1, 8) AS ATT_DATE
		FROM ATTENDANCE
		WHERE NO = #{no}
	</select>
	
	<!-- 로그인멤버 총 출석일 -->
	<select id="selectTotalAtt" resultType="int">
		SELECT COUNT(*)
		FROM ATTENDANCE
		WHERE NO = #{no}
	</select>
	
	<!-- 오늘 날짜 기준으로 n일 전에 출석했는지 -->
	<select id="selectContinuousAtt" resultType="int">
		SELECT COUNT(*)
		FROM ATTENDANCE
		WHERE NO = #{no}
		AND ATT_DATE LIKE #{day}
	</select>

</mapper>