<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eventMapper">

	<insert id="insertAttendance">
		INSERT INTO ATTENDANCE
		(
			NO
			, ATT_DATE
		)
		VALUES
		(
			#{no}
			, SYSDATE
		)
	</insert>

	<update id="updatePoint">
		UPDATE MEMBER
		SET
			POINT = POINT + 10
		WHERE
			NO = #{no}
	</update>
	
	<select id="selectTodayAtt" resultType="int">
		SELECT COUNT(*)
		FROM ATTENDANCE
		WHERE NO = #{no}
		AND ATT_DATE LIKE '%' || SUBSTR(SYSDATE, 1, 8) || '%'
	</select>
	
	<select id="selectAttList" resultType="String">
		SELECT SUBSTR(ATT_DATE, 1, 8) AS ATT_DATE
		FROM ATTENDANCE
		WHERE NO = #{no}
	</select>

</mapper>