<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectMapper">

	<resultMap type="HashMap" id="cateName">
		<id column="name" property="name" />
		<id column="no" property="no" />
	</resultMap> 
	
	<select id="selectCategory" resultType="HashMap" resultMap="cateName">
		SELECT NO,NAME
		FROM PRJ_CATEGORY
	</select>
	
	<select id="selectPrj" resultType="ProjectVo">
		SELECT 
        P.NO
        ,P.TITLE
        ,P.PRICE
        ,P.START_DATE
        ,P.END_DATE
        ,P.TIME
        ,P.URL
        ,P.STORY
        ,M.NO MNO
        ,M.NICK CREATOR
        ,M.INFO INFO
        ,P.SUMMARY
        ,C.NAME AS CATEGORY
        ,(SELECT COUNT(R.NO) FROM REVIEW R INNER JOIN PROJECT P ON P.NO = R.PROJECT WHERE P.NO = #{p}) AS REVIEW
        ,(SELECT COUNT(N.NO) FROM NEWS N INNER JOIN PROJECT P ON P.NO = N.PRJ WHERE P.NO = #{p}) AS NEWS
		FROM PROJECT P
		INNER JOIN MEMBER M ON P.CREATOR = M.NO
		INNER JOIN PRJ_CATEGORY C ON P.CATEGORY = C.NO
		WHERE P.NO = #{p}
		GROUP BY P.NO ,P.TITLE ,P.PRICE ,P.START_DATE ,P.END_DATE ,P.TIME ,P.URL ,P.STORY, M.NO, M.NICK, M.INFO, P.SUMMARY ,C.NAME
	</select>
	
	<select id="selectSet" resultType="ItemVo">
		SELECT 
		 SET_NAME, "OPTION", SET_PRICE, SET_QUANTITY
		 FROM SET_ITEM
		 WHERE PRJ_NO = #{p}
 	</select>
 
	<select id="selectTimeList" resultType="TimeVo">
		SELECT *
		FROM START_TIME
	</select>
	
	<select id="selectMyPrj" resultType="ProjectVo" parameterType="Map">
		SELECT  
        	NO
        	,TITLE
        	,URL
        	,STATUS
        	,SUMMARY
		FROM PROJECT 
		WHERE CREATOR = #{vo.creator}
        AND STATUS = #{statusWriting}
        AND DELETE_YN = 'N'
	</select>
	
	<!-- <select id="selectStatusAll" resultType="ProjectVo">
		SELECT  
		    COUNT(DISTINCT STATUS) AS cnt
		FROM PROJECT 
		WHERE CREATOR #{creator}
	</select> -->
	
	<update id="deletePrj">
		UPDATE PROJECT SET DELETE_YN = 'Y' WHERE NO = #{no}
	</update> 

	<insert id="insertTempPrj">
	  	INSERT ALL 
	  	INTO PROJECT(
			NO
			, TITLE
			, CREATOR
			, CATEGORY
			, PRICE
			, START_DATE
			, END_DATE
			, SUMMARY
			, TIME
			, URL
			)
			VALUES
			  	(
	        SEQ_PROJECT_NO.NEXTVAL,
	        #{title},
	        #{creator} ,
	        #{category},
	        #{price},
	        #{startDate},
	        #{endDate},
	        #{summary},
	        #{time},
	        #{url}
	  	)
		INTO PRJ_ATTACHMENT
			(
				NO ,
				PRJ_NO ,
				CHANGE_NAME ,
				ENROLL_DATE
			)
		VALUES
		(
			GET_SEQ_NO('SEQ_PRJ_ATTACHMENT_NO') ,
			GET_SEQ_CURR_NO('SEQ_PRJ_NO_NO') ,
			#{changeName} ,
			SYSDATE
		)
  </insert>
  
  	<select id="prjCnt" resultType="int">
		SELECT COUNT(NO)
		FROM PROJECT 
		WHERE CREATOR = #{creator}
	</select>
	
	<update id="updatePrj">
	  	UPDATE PROJECT SET
			TITLE = #{title},
			CATEGORY = #{category},
			PRICE = #{price},
			START_DATE = #{startDate},
			TIME = #{time},
			END_DATE = #{endDate},
			DELIVERY_DATE = #{deliveryDate},
			URL = #{url},
			SUMMARY = #{summary},
			STORY = #{story},
			ENROLL_DATE = SYSDATE,
			CHANGE_NAME = #{changeName}
		WHERE NO = #{no}
  </update>
  
  <update id="updateExamination">
	  	UPDATE PROJECT SET
			TITLE = #{title},
			CATEGORY = #{category},
			PRICE = #{price},
			START_DATE = #{startDate},
			TIME = #{time},
			END_DATE = #{endDate},
			DELIVERY_DATE = #{deliveryDate},
			URL = #{url},
			SUMMARY = #{summary},
			STORY = #{story},
			ENROLL_DATE = SYSDATE,
			CHANGE_NAME = #{changeName},
			STATUS = '심사중'
		WHERE NO = #{no}
  </update>
  
 <!--<update id="updateSet">
	  	UPDATE SET_ITEM SET
			NO = #{setNo},
			NAME = #{setName},
			QUANTITY = #{setQuantity},
			PRICE = #{setPrice},
			ITEM = #{option}
		WHERE PRJ_NO = #{prjNo}
  </update> --> 
  
  <insert id="updateSet">
  INSERT INTO SET_ITEM(SET_NO ,SET_NAME, "OPTION", SET_PRICE, SET_QUANTITY, PRJ_NO) 
  	VALUES (
	   SEQ_SET_ITEM_NO.NEXTVAL, 
	   #{setName},
	   #{option}, 
	   #{setPrice},
	   #{setQuantity}, 
	   #{prjNo}
   )
  </insert>
  
  <update id="updateCreator">
	  	UPDATE MEMBER SET
			ACCOUNT = #{account},
			BANK = #{bank},
			DEPOSITOR = #{depositor},
			INFO = #{info}
		WHERE NO = #{no}
  </update>
  
  <select id="writingCnt" resultType="int">
		SELECT COUNT(STATUS)
		FROM PROJECT 
		WHERE CREATOR = #{creator}
        AND STATUS = '작성중'
        AND DELETE_YN = 'N'
	</select>
	
	<insert id="insertPrj" parameterType="Map">
	INSERT INTO PROJECT(NO, CREATOR)
	 VALUES
  	( #{random}, #{vo.creator})
	</insert>
	
	<select id="selectMyLikePrj" resultType="int">
	SELECT COUNT(PRJ_NO)
		FROM LIKE_PROJECT
        WHERE M_NO = #{mNo}
        AND PRJ_NO = #{prjNo}
	</select>
	
	<insert id="insertLikePrj" >
	 INSERT INTO LIKE_PROJECT  VALUES (${mNo} , ${prjNo}, SYSDATE)
	</insert>
	
	<delete id="deleteLikePrj" >
       DELETE FROM LIKE_PROJECT WHERE M_NO = #{mNo} AND PRJ_NO = #{prjNo}
	</delete>
	
	<select id="selectwritingPrj" resultType="ProjectVo">
		SELECT  
        	NO
        	,TITLE
        	,URL
        	,STATUS
        	,SUMMARY
		FROM PROJECT 
		WHERE CREATOR = #{creator}
        AND STATUS = '작성중'
        AND DELETE_YN = 'N'
	</select>
	
	<select id="examinationCnt" resultType="int">
		SELECT COUNT(STATUS)
		FROM PROJECT 
		WHERE CREATOR = #{creator}
        AND STATUS = '심사중'
        AND DELETE_YN = 'N'
	</select>
	
	<select id="selectexamination" resultType="ProjectVo">
		SELECT  
        	NO
        	,TITLE
        	,URL
        	,STATUS
        	,SUMMARY
		FROM PROJECT 
		WHERE CREATOR = #{creator}
        AND STATUS = '심사중'
        AND DELETE_YN = 'N'
	</select>
	
	<select id="confirmCnt" resultType="int">
		SELECT COUNT(STATUS)
		FROM PROJECT 
		WHERE CREATOR = #{creator}
        AND STATUS = '승인됨'
        AND DELETE_YN = 'N'
	</select>
	
	<select id="selectconfirm" resultType="ProjectVo">
		SELECT  
        	NO
        	,TITLE
        	,URL
        	,STATUS
        	,SUMMARY
		FROM PROJECT 
		WHERE CREATOR = #{creator}
        AND STATUS = '승인됨'
        AND DELETE_YN = 'N'
	</select>
	
	<select id="proceedCnt" resultType="int">
		SELECT COUNT(STATUS)
		FROM PROJECT 
		WHERE CREATOR = #{creator}
        AND STATUS = '승인됨'
        AND DELETE_YN = 'N'
	</select>
	
	<select id="selectproceed" resultType="ProjectVo">
		SELECT  
        	NO
        	,TITLE
        	,URL
        	,STATUS
        	,SUMMARY
		FROM PROJECT 
		WHERE CREATOR = #{creator}
        AND STATUS = '승인됨'
        AND DELETE_YN = 'N'
	</select>

	<!-- follow check	 -->
	<select id="followCheck" resultType="int">
	SELECT COUNT(LIKE_MEMBER_NO)
		FROM LIKE_MEMBER
        WHERE M_NO = #{mNo}
        AND LIKE_MEMBER_NO = #{likeMemberNo}
	</select>
	
	<select id="selectPrjInfo" resultType="ProjectVo" parameterType="Map">
		SELECT  
        	TITLE
        	,CATEGORY
        	,CHANGE_NAME
        	,PRICE
        	,START_DATE
        	,DELIVERY_DATE
        	,TIME
        	,END_DATE
        	,URL
        	,SUMMARY
        	,STORY
		FROM PROJECT 
		WHERE NO = #{p}
	</select>
	
</mapper>