<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectMapper">

	<resultMap type="HashMap" id="cateName">
		<id column="name" property="name" />
	</resultMap> 
	
	<select id="selectCategory" resultType="HashMap" resultMap="cateName">
		SELECT NO,NAME
		FROM PRJ_CATEGORY
	</select>
	
	<select id="selectPrj" resultType="ProjectVo">
		SELECT 
        P.NO
        ,P.TITLE
        ,P.PRICE
        ,P.START_DATE
        ,P.END_DATE
        ,P.TIME
        ,P.URL
        ,P.STATUS
        ,M.NICK CREATOR
         ,P.SUMMARY
        ,C.NAME AS CATEGORY
        ,(SELECT COUNT(R.NO) FROM REVIEW R INNER JOIN PROJECT P ON P.NO = R.PROJECT WHERE P.NO = 1) AS REVIEW
        ,(SELECT COUNT(N.NO) FROM NEWS N INNER JOIN PROJECT P ON P.NO = N.PRJ WHERE P.NO = 1) AS NEWS
		FROM PROJECT P
		INNER JOIN MEMBER M ON P.CREATOR = M.NO
		INNER JOIN PRJ_CATEGORY C ON P.CATEGORY = C.NO
		WHERE P.NO = #{p}
		GROUP BY P.NO ,P.TITLE ,P.PRICE ,P.START_DATE  ,P.END_DATE ,P.TIME ,P.URL ,P.STATUS, M.NICK, P.SUMMARY ,C.NAME
	</select>
	
	<select id="selectTimeList" resultType="TimeVo">
		SELECT *
		FROM START_TIME
	</select>
	
	<select id="selectMyPrj" resultType="ProjectVo" parameterType="Map">
		SELECT  
        	NO
        	,TITLE
        	,URL
        	,STATUS
        	,SUMMARY
		FROM PROJECT 
		WHERE CREATOR = #{vo.creator}
        AND STATUS = #{statusWriting}
        AND DELETE_YN = 'N'
	</select>
	
	<!-- <select id="selectStatusAll" resultType="ProjectVo">
		SELECT  
		    COUNT(DISTINCT STATUS) AS cnt
		FROM PROJECT 
		WHERE CREATOR #{creator}
	</select> -->
	
	<update id="deletePrj">
		UPDATE PROJECT SET DELETE_YN = 'Y' WHERE NO = #{no}
	</update> 

	<insert id="insertTempPrj">
	  	INSERT ALL 
	  	INTO PROJECT(
			NO
			, TITLE
			, CREATOR
			, CATEGORY
			, PRICE
			, START_DATE
			, END_DATE
			, SUMMARY
			, TIME
			, URL
			)
			VALUES
			  	(
	        SEQ_PROJECT_NO.NEXTVAL,
	        #{title},
	        #{creator} ,
	        #{category},
	        #{price},
	        #{startDate},
	        #{endDate},
	        #{summary},
	        #{time},
	        #{url}
	  	)
		INTO PRJ_ATTACHMENT
			(
				NO ,
				PRJ_NO ,
				CHANGE_NAME ,
				ENROLL_DATE
			)
		VALUES
		(
			GET_SEQ_NO('SEQ_PRJ_ATTACHMENT_NO') ,
			GET_SEQ_CURR_NO('SEQ_PRJ_NO_NO') ,
			#{changeName} ,
			SYSDATE
		)
  </insert>
  
  	<select id="prjCnt" resultType="int">
		SELECT COUNT(NO)
		FROM PROJECT 
		WHERE CREATOR = #{creator}
	</select>
	
	<update id="updatePrj">
	  	UPDATE PROJECT SET
			TITLE = #{title},
			PRICE = #{price},
			START_DATE = #{startDate}
		WHERE NO = #{no}
  </update>
  
  <select id="writingCnt" resultType="int" parameterType="Map">
		SELECT COUNT(STATUS)
		FROM PROJECT 
		WHERE CREATOR = #{vo.creator}
        AND STATUS = #{statusWriting}
        AND DELETE_YN = 'N'
	</select>
	
	<insert id="insertPrj" parameterType="Map">
	INSERT INTO PROJECT(NO, CREATOR)
	 VALUES
  	( #{random}, #{vo.creator})
	</insert>
	
	<select id="selectMyLikePrj" resultType="int">
	SELECT COUNT(PRJ_NO)
		FROM LIKE_PROJECT
        WHERE M_NO = #{mNo}
        AND PRJ_NO = #{prjNo}
	</select>
	
	<insert id="insertLikePrj" >
	 INSERT INTO LIKE_PROJECT  VALUES (${mNo} , ${prjNo}, SYSDATE)
	</insert>
	
	<delete id="deleteLikePrj" >
       DELETE FROM LIKE_PROJECT WHERE M_NO = #{mNo} AND PRJ_NO = #{prjNo}
	</delete>
	
	<select id="selectwritingPrj" resultType="ProjectVo">
		SELECT  
        	NO
        	,TITLE
        	,URL
        	,STATUS
        	,SUMMARY
		FROM PROJECT 
		WHERE CREATOR = #{vo.creator}
        AND STATUS = '작성중'
        AND DELETE_YN = 'N'
	</select>
	
</mapper>