@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
    margin: 0;
}

* {
	box-sizing: border-box;
	letter-spacing: -0.05em;
	font-family: Pretendard-Regular;
}

.modal {
    margin: 0;
	display: flex;
    position: absolute;
	justify-content: center;
	align-items: center;
    width: 800px;
    height: 850px;
}

.modal-container {
    z-index: 6;
    border: 1px solid #9D9D9D;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    padding: 60px;
	width: 700px;
    height: 750px;
	display: grid;
	justify-content: center;
	row-gap: 25px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, minmax(10px, auto));
}

.goods-review-img {
    width: 100px;
    height: 100px;
}
.goods-review-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid #9d9d9d;
    padding: 30px;
}
textarea::placeholder {
    color: #d9d9d9;
}

.review-modal-score {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    gap: 12px;
    font-weight: bold;
    justify-content: space-between;
}
.star {
    position: relative;
    font-size: 2rem;
    color: #ddd;
}
.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: #ffc400;
    overflow: hidden;
    pointer-events: none;
}

.review-modal-content {
    display: flex;
    flex-direction: column;
}
.review-modal-content>span {
    color: #9D9D9D;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.review-modal-pic {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.review-modal-pic>div:nth-child(2) {
    display: flex;
    gap: 20px;
    position: relative;
}
.review-modal-pic-preview {
    display: flex;
    width: 80px;
    height: 80px;
    position: relative;
}
.x-button {
    position: absolute;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    right: 0;
    top: 0;
    padding: 2px 5px;
    border: 1px solid #9D9D9D;
    background-color: white;
}
.review-modal-pic img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #9d9d9d;
}
.review-modal-pic>div>span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}
.review-modal-pic>div>span:nth-child(2) {
    font-size: 16px;
    color: #9d9d9d;
    padding-left: 20px;
}

#input-file-button {
    padding: 20px;
    background-color: white;
    border: 1px solid #9D9D9D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
#input-file {
    display: none;
}
#submit-button {
    display: flex;
    width: 35%;
    height: 70%;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #567ace;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #9D9D9D;
    border-radius: 15px;
    cursor: pointer;
}

.modal-container>div:nth-child(1) {
    position: relative;
}

#x-button {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #9D9D9D;
    border-radius: 5px;
    cursor: pointer;
}

.modal-goods-info {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 60px;
    border-bottom: 1px solid #9D9D9D;
}
.modal-goods-info>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal-goods-info>div:nth-child(2)>span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}
.modal-goods-info>div:nth-child(2)>span:nth-child(2) {
    font-size: 20px;
    color: #567ace;
    font-weight: bold;
}
.modal-goods-info>div:nth-child(2)>span:nth-child(3) {
    margin-top: 20px;
}
.modal-goods-info>div:nth-child(2)>span:nth-child(3)>span {
    font-weight: bold;
}
