@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
    margin: 0;
}

* {
	box-sizing: border-box;
	letter-spacing: -0.05em;
	font-family: Pretendard-Regular;
}

.wrap {
    width: 777px;
    height: 487px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
}

.container {
    width: 658px;
    height: 387px;
    border: 1px solid #A3A3A3;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#privacy-scroll {
    width: 576px;
    height: 137px;
    resize: none;
    padding: 0.5em;
}

.logo {
    width: 59px;
    height: 47px;
}

.agree-area {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #A3A3A3;
}

.agree-area input[type=checkbox] {
    display: none;
}

.agree-area .material-symbols-outlined {
    font-size: 20px;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 24
}

input[type=checkbox]:checked + span {
    color: #567ACE;
}
/* input[type=checkbox]:checked + label {
} */
.agree-area label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}