.mypage-container{
    margin: auto;
    width: 70vw;
    display: flex;
}
.content-container{
    width: 50vw;
    border: 1px solid pink;
    padding: 40px;
    display: grid;
    grid-template-rows: 4fr 6fr;
}
.content-container div{
    --border: 1px solid green;
    height: 100%;
}
.container-up-content{
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    box-shadow: 0 4px 4px -4px var(--main-color);
}
.container-up-content :first-child{
    grid-column: span 3;
}
.container-up-content :last-child{
    grid-column: span 3;
}
.container-up-content img{
    height: 100%;
    width: 150px;
}
.margin-top{
    margin-top: 10px;
}
.change-btn{
    width: 100px;
    height: 32px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
}
.text{
    width: 100px;
    height: 32px;
    color: #000000;
    font-size: 14px;
}
p{
    font-size: 12px;
}