*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.join-header{
    width: 60vw;
    height: 100px;
    margin: 15px auto;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #AFAFAF;
    padding: 10px;
}
.logo-img{
    cursor: pointer;
    height : 80px;
}
.join-container{
    width: 70vw;
    margin: 50px auto;
    padding: 0px 15% 0px 20%;
}
.join-container-main > div{
    margin: 10px 0px 5px 0px;
}
.email-input{
    height: 40px;
    width: 30%;
    padding-left: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-right: 10px;
}
.input{
    height: 40px;
    width: 63%;
    padding-left: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-right: 10px;
}
.submit{
    width: 80%;
    height: 40px;
    font-size: 15px;
    margin-top: 20px;
}
.join-info{
    margin: 10px 0;
    font-size: 15px;
}
.btn-check{
    width: 15%;
    height: 40px;
}

.member-join-check >div{
    margin: 5px;
}

.another{
    font-size: 13px;
}
hr{
    width: 100%;
}
.hr{
    width: 34%;
}
.join-flex{
    display: flex;
    align-items: center;
    justify-content: center
}
.gender-check{
    display: flex;
}
.gender-check>div{
    margin: 0px 0px 30px 20%;
}
.result{
    font-size: 12px;
    display: none;
}
#email-result{
    margin: 10px;
    
}
.red{
    color: red;
    font-size: 14px;
}
.pwd-input{
    height: 40px;
    width: 80%;
    padding-left: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-right: 10px;
}
.another-login, .another-join{
    width: 80%;
    font-size: 13px;
}
.another-login>div, .another-join>div{
   margin: 20px 10px;
}

