*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-form{
    width: 50vw;
    margin: 50px auto auto auto;
    display: grid;
    place-items: center;
    grid-template-rows: repeat(5, 1fr);
}
.input{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
}
.ace567{
    background-color: #567ace;
}
hr{
    width: 100%;
}
.hr-left{
    width: 35%;
    margin-right: 10px;
}
.hr-right{
    width: 35%;
    margin-left: 10px;
}
.container-main-area{
    width: 70%;
    padding:0px 13%;
    margin-bottom: 25px;
}
.another-login{
   font-size: 10px;
}
.login-info{
    margin: 10px 0;
    font-size: 15px;
}