*{
  margin: 0;
  padding: 0;
}
.mypage-container{
    margin: auto;
    width: 70vw;
    display: flex;
}
.content-container{
    width: 100%;
    height: 900px;
    margin: 40px;
    display: grid;
    grid-template-rows: 2.5fr 8fr;
}
#nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
#nav > ul{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}
#nav > ul > li{
    text-align: center;
    width: 50%;
    list-style: none;
    text-align: center;
    margin: 20px;
    cursor: pointer; 
}
.line {
    display: block;
    position: absolute;
    margin: 10px;
    height: 0.1px;
    background-color: #8ca8e99a;
    box-shadow: 0 0px 6px 1px var(--main-color);
    transition: .6s ease-out;
  }

  #contents, .line {
    overflow: hidden;
  }
  
  #contents__list {
    width: 200%;
    display: flex;
    transition: .6s ease-out;
  }
  
  #contents__item {
    margin: 50px 20px 20px 20px;
    width: 100%;
    height: 550px;
  }
  .span2{
    grid-column: 1/ 3;
  }
  .content-first{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
  }
  .content-first > div{
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .content-first > form > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  .btn{
    cursor: pointer;
    height: 40px; 
    width: 100px;
  }
  .plus{
    border: 1px solid var(--main-color);
    background-color: #fff;
    color: var(--main-color);
  }
  .delete{
    border: 1px solid var(--gray);
    background-color: #fff;
    color: var(--gray);
  }
  .content-second{
    display: flex;
    flex-direction: column;
    justify-content: space-evenlsy;
    padding: 10px;
  }
  .content-first img{
    width: 150px;
    height: 100px;
  }
  .payAddr-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
.modal{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
}
.modal-content{
  background-color: #fff;
  width: 350px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.158);
}
.btn-close{
  position: absolute;
  top: 15px;
  right: 15px;
}
.btn-guide{
  background-color: blue;
  color: #fff;
  padding: 7px;
  font-size: 14px;
  display: block;
}
.delete{
  border-color: rgb(255, 87, 87);
  color: red;
}

input[name=delete]{
  margin-top: 10px;
}


/* 모달 창  */
input[id="popup"]{
  display: none;
}
input[id="popup"] + label{
  display: inline-block;
  padding: 20px;
  background-color: var(--main-color);
  color: #fff;
}

input[id="popup"] + label + div{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
input[id="popup"] + label + div > div{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 550px;
  background-color: #fff;
  z-index: 2;
}


input[id="popup"] + label + div > div > label{
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(-40%, -40%);
  padding: 20px;
  background-color: red;
  border-radius: 100%;
  z-index: 1;
}

input[id="popup"] + label + div > label{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
input[id="popup"] + label + div{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
input[id="popup"]:checked + label + div{
  opacity: 1;
  visibility: visible;
  
}
.hidden{
  visibility: hidden;
}
.plus-pay{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pay-title{
  margin: 30px 10px;
  font-size: 25px;
  text-align: center;
}

.card{
  width: 71px;
}
.card-in{
  display: flex;
  flex-direction: row;
}
.card-in > div {
  margin: 10px 10px 10px 0px;
}
select {
    width: 100%;
    height: 40px;
    padding: 0 0 0 5px;
    border: 1px solid #ccc;
    font-family: inherit;
    border-radius: 0;
    vertical-align: middle;
    font-size: 15px;
}
.pay-content input[type=text]{
  height: 38px;
  border: 1px solid #ccc;
}
.margin-down{
  margin-bottom: 10px;
}
.card-in > select:nth-child(1){
  margin-right:  5px;
}
input[class=card]{
  padding-left: 10px;
}
.plus-card-btn{
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  letter-spacing :0.5px;
}
.margin-down2 > input[type=checkbox]{
  margin-right: 10px;
}
.pay-content>div>div:nth-child(8){
  margin-bottom: 20px;
}
.card-in>div>div:nth-child(2)>input{
  padding: 10px;
}


/* 주소 쪽  */
.content-second > div:nth-child(1){
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.addr-container{
  box-sizing: border-box;
  border : 1px solid rgb(230, 230, 230);
  color: #3D3D3D;
  margin: 20px 0px;
  padding: 10px;
}
.addr-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}


/* 주소 모달창  */
input[id="addr-pop"]{
  display: none;
}
input[id="addr-pop"] + label{
  display: inline-block;
  padding: 20px;
  background-color: var(--main-color);
  color: #fff;
}

input[id="addr-pop"] + label + div{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
input[id="addr-pop"] + label + div > div{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #fff;
  z-index: 2;
}


input[id="addr-pop"] + label + div > div > label{
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(-40%, -40%);
  padding: 20px;
  background-color: red;
  border-radius: 100%;
  z-index: 1;
}

input[id="addr-pop"] + label + div > label{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
input[id="addr-pop"] + label + div{
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
input[id="addr-pop"]:checked + label + div{
  opacity: 1;
  visibility: visible;
  
}
.addr-title{
  margin: 30px 10px;
  font-size: 25px;
  text-align: center;
}
.addr-content > form{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.addr-content > form > div > input{
  height: 38px;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}
.width50{
  width: 45%;
}
.width100{
  width: 95%;
}
.width30{
  width: 25%;
}
.width70{
  width: 65%;
}
.ace{
  background-color: var(--main-color);
  color: #fff;
  font-size: 14px;
  
}
