*{
  margin: 0;
  padding: 0;
}
.mypage-container{
    margin: auto;
    width: 70vw;
    display: flex;
}
.content-container{
    width: 100%;
    height: 900px;
    margin: 40px;
    display: grid;
    grid-template-rows: 2.5fr 8fr;
}
#nav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
#nav > ul{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}
#nav > ul > li{
    text-align: center;
    width: 50%;
    list-style: none;
    text-align: center;
    margin: 20px;
    cursor: pointer; 
}
.line {
    display: block;
    position: absolute;
    margin: 10px;
    height: 0.1px;
    background-color: #8ca8e9a9;
    box-shadow: 0 0px 6px 1px var(--main-color);
    transition: .6s ease-out;
  }

  #contents, .line {
    overflow: hidden;
  }
  
  #contents__list {
    width: 200%;
    display: flex;
    transition: .6s ease-out;
  }
  
  #contents__item {
    margin: 50px 20px 20px 20px;
    width: 100%;
    height: 550px;
  }
  .content{
    display: grid;
    justify-items: end;
    align-items: start;
    grid-template-rows: 1fr 8fr 1fr;
    padding: 10px;
  }
  .title {
    border-bottom: 1px solid var(--gray);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    justify-items: center
  }
  .list{
    border-bottom: 1px solid var(--gray);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: repeat(14, 40px);
    place-items: center;
  }

 
 
 
