    html{
        --line-gray : rgba(197, 197, 197, 1)
    }

    /* 제목 부분 */
    main .detail-board-header{
		width: 1625px;
	    height: 64px;
	    color: rgba(90, 90, 90, 1);
	    background-color: rgba(241, 241, 241, 1);
	    border: 1px solid var(--line-gray);
	    position: relative;
	    display: grid;
	    grid-template-columns: 0.17fr 1fr;
    }
    
    .detail-board-header div h1{
	    margin-left: 15px;
	    transform: translate(0, -20%)
    }
    
     .detail-board-header div h2{
        font-weight: normal;
    }
    
    .detail-board-content{
        width: 1380px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* 창 닫기 */
    .member-detail-close{
        width: 150px;
        height: 30px;
        border: 1px solid rgba(197, 197, 197, 1);
        border-bottom: none;
        border-radius: 5px 5px 0px 0px;
        background-color: rgba(237, 237, 237, 1);
        text-align: center;
        padding-top: 10px;
        margin-left: 21px;
        margin-top: 55px;
    }
    
    .member-detail-close img{
    	width: 11px;
    	height: 11px;
    	cursor: pointer;
    }

    /* 리스트 부분 */
    .detail-board{
        width: 1625px;
        height: 868px;
        border: 1px solid var(--line-gray);
        background-color: rgba(237, 236, 236, 1);
    }

    .detail-list{
        width: 1580px;
        height: 710px;
        border: 1px solid var(--line-gray);
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr;
        grid-template-rows: repeat(11, 54px);
        text-align: left;
        margin: 0 auto;
        font-size: 16px;
        line-height: 55px;
        border-radius: 0px 5px 5px 5px;
    }

    .detail-title{
        text-align: center;
    }

    .summary,
    .story
    {
        grid-column: span 3;
    }

    .detail-list div{
        border-bottom: 1px solid var(--line-gray);
    }

    .detail-list div:last-child img{
        width: 18px;
        height: 18px;
    }

    .detail-list .detail-content-style{
        /* border: 1px solid red; */
        outline: none;
        font-size: 16px;
    }

    /* 밑줄 제거 */
    .detail-list div:last-child,
    .detail-list .story-title,
    .detail-list .story{
        border: none;
    }

    .detail-submit{
        grid-column: span 4;
        margin-left: 45%;
    }

    .detail-submit-no-btn{
        width: 70px;
        height: 35px;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 7px;
        background-color: rgba(86, 122, 206, 1);
        cursor: pointer;
        margin-top: 5%;
    }

    .detail-submit-ok-btn{
        width: 70px;
        height: 35px;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 7px;
        background-color: rgba(255, 94, 94, 1);
        cursor: pointer;
        margin-top: 5%;
    }