
#container{
    display: flex;
    flex-wrap: wrap;
    margin : auto;
    padding: 0 15% 0 15%;
	--width: 100vw;
}
.content-intro{
    width: 100%;
    height: 30%;
}
.intro-top{
    flex-direction: column;
    border: 1px solid blue;
    height: 10%;
    -webkit-box-align: center;
    align-items: center;
    order: 1;
    text-align: center;
    margin: 0px auto;
    display: flex;
    padding: 20px 0 15px;
    overflow: hidden;
}
.top-category{
    height: 28px;
    line-height: 28px;
    color: #567ace;
    font-weight: 800;
}
.top-title{
    text-align: center;
    line-height: 42px;
    font-size: 36px;
    font-weight: bold;
}
.content-introduction{
    border: 1px solid red;
    position: relative;
    width: 100%;
    height: 90%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    -webkit-box-align: center;
    align-items: center;
}
.introduction-main{
    width: 100%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    --list-style: none;
    padding: 0px;
    z-index: 1;
    text-align: center;
}
.introduction-main img{
    width: 100%;
    vertical-align: bottom;
}
.introduction-sub{
    width: 100%;
    height: 100%;
    order: 4;
    --display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 0px 0px 86px;
}
.sub-status{
    height: 70%;
}
.status-price, .status-period, .status-supporter{
    display: flex;
}
.status-price, .status-period, .status-supporter>div{
    margin: 0px 0px 1.75rem;
}
.price-total{
    width: 100px;
}
.status-period div:first-child{
    width: 40px;
}
.status-supporter div:first-child{
    width: 40px;
}
.sub-info{
    width: 100%;
    height: 20%;
    padding: 20px 0px 10px
}
.sub-info div{
    margin: 0px 0px 0.5rem;
}
.price, .period, .payment{
    width: 100px;
}
.info-price, .info-period, .info-payment{
    display: flex;
    margin-right: 20px;
}
.info-payment div:last-child{
    margin-left: 25px;
}
.sub-buttons{
    width: 100%;
    height: 10%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: center;
}
.buttons-like{
    border: 1px solid rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 10px;
}
.buttons-funding{
    margin-left: 5%;
    cursor: pointer;
    height: 52px;
    width: 50%;
    border: 2px solid #567ace;
    color: #567ace;
    background: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 20px;
}
.content-explanation{
    width: 100%; 
    height: 70%;
}
hr:first-of-type{
    width : 70%;
    background-color : #567ace51;
    height:1px;
    border:0;
    margin-left : 0;
}
hr:last-of-type{
    width : 90%;
    background-color : #567ace51;
    height:1px;
    border:0;
}
.content-navigation{
    width: 100%;
    height: 50px;
    padding: 30px 1rem 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}
.content-navigation a{
    text-decoration: none;
    position: relative;
    padding: 10px 0px;
}
.content-navigation a:hover{
    color: #567ace;
}
.content-navigation a::before{
    --border-bottom: 3px solid #567ace;
    height: 5px;
    position: absolute;
    content:""; 
    display: block; 
    transition: all 250ms ease-out; 
    left: 50%; 
    width: 0;
    bottom: 0;
    background-color: #567ace;
} 
.content-navigation a:hover::before {
    transition: all 250ms ease-out; 
    left: 0%; 
    width: 100%;
} 
.content-navigation>a{
    cursor: pointer;
    line-height: 1.5;
    margin: 0px 1rem;
}
.content-explanation{
    display: flex;
    width: 1040px;          /*100%로 나중에 바꾸기*/
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 38px;
    margin: 0px auto;
}
.explanation-notify{
    --padding-bottom: 160px;
    padding: 16px 16px 64px;
    color: rgba(0,0,0,.84);
    margin-top: 28px;
    margin-bottom: 56px;
    width: 70%;
}
.notify-title{
    border-bottom: 1px solid #44484b;
    height: 42px;
    width: 100%;
    float: left;
    overflow: hidden;
}
.title-news{
    line-height: 30px;
    letter-spacing: -.6px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    float: left;
}
.news-issue{
    line-height: 1.47;
    font-size: 19px;
    font-weight: 700;
}
.news-count{
    margin-left: 4px;
    line-height: 1.47;
    color: #567ace;
    font-size: 19px;
    font-weight: 700;
}
.title-tap{
    line-height: 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
    float: right;
}
.tap-write{
    cursor: pointer;
    border-radius: 10px;
    color: #567ace;
    border: 1px solid #567ace;
    margin-left: 16px;
    text-align: center;
    padding: 5px 10px;
}
.title-tap select{
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.tap-selectbox{
    position: relative;
    margin-left: 16px;
    background-color: #fff;
    width: 68px;
    line-height: 1.33;
    font-size: 15px;
}
.explanation-news{
    color: #868e96;
    font-size: 36px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}
.explanation-side{
    padding-top: 28px;
    margin-top: 5px;
    float: right;
    width: 30%;
    overflow: hidden;
}
.side-creator{
    border: 1px solid pink;
    display: block;
    padding: 20px 16px;
}
.container-img{
    display: inline-block;
    /* background-image: url(https://tumblbug-upi.imgix.net/b11fa62e-8765-406d-8970-deb9ff14f457.png?auto=format%2Ccompress&ch=Save-Data&facepad=2.0&fit=facearea&h=200&mask=ellipse&w=200&s=4fbb3ce…); */
    background-size: cover;
    background-position: 50% 38%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgb(208 208 208) 0px 0px 1px 0px inset, rgb(208 208 208) 0px 0px 1px 0px;
    margin : 0.5rem 1rem 0.5rem 0;
}
.creator-container{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
.container-name{
    display: flex;
    margin-top: 1rem;
}
.name-follow{
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 10px;
    color: #567ace;
    border: 1px solid #567ace;
    margin-left: 1rem;
    width: 60px;
    text-align: center;
}
.side-reward{
    width: 100%;
    height: auto;
    padding: 24px 0px 0px;
}
.reward-card{
    margin: 10px 0px 14px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(239, 239, 239);
    overflow: hidden;
}
.card-option{
    padding: 20px;
}
.option-title{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    margin: 4px 0px 8px;
}
.title-price{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.025em;
}
.title-name{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
}
.card-option>ul{
    padding: 0px;
    margin: 0px;
    --list-style-type: disc;
}
.card-option li{
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    margin: 0px 0px 4px;
    padding: 0px 0px 0px 10px;
    list-style: none;
}
.card-option li:before{
    content: "·";
    font-weight: bold;
    /* 왜 안먹지?? left: 0.6em; */
}
.option-quantity, .option-sell{
    color: #567ace;
}
.option-quantity{
    margin : 8px 0px 4px;
}