header{
    border: 1px solid rgb(200, 200, 200);
    width: 420px;
    height: 50px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 6%;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(239, 239, 239);
}

header div{
    line-height: 40px;
    margin-left: 13%;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(66, 66, 66);
}

main{
    width: 420px;
    height: 650px;
    margin-left: 40%;
    margin-right: 40%;
    border: 1px solid rgb(200, 200, 200);
    border-top: none;
    overflow:auto;
    border-radius: 0px 0px 20px 20px;
}

#title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
    color: rgb(66, 66, 66);
}

#time{
    text-align: center;
    margin-bottom: 10px;
    font-size: 13px;
    margin-bottom: 5%;
}

main::-webkit-scrollbar {
    width: 6px;  /* 스크롤바의 너비 */
}

main::-webkit-scrollbar-thumb {
    height: 5%; /* 스크롤바의 길이 */
    background: rgb(176, 176, 176); /* 스크롤바의 색상 */
    border-radius: 10px;
}

main::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

a {
    text-decoration-line: none;
}

#blank-logo{
    width: 90px;
    height: 85px;
    /* border: 1px solid rgb(200, 200, 200); */
    background-color: rgb(246, 246, 246);
    margin-left: 40%;
    border-radius: 50px;
    margin-top: 15px;
}

.blank-logo{
    width: 70px;
    height: 65px;
    margin: 10%;
}

#chat-content{
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin-left: 5px;
}

.chatbot-icon{
    width: 35px;
    height: 35px;
    /* padding-top: 130px;
    margin: 10px; */
}

.chat-ment{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    width: 290px;
}

.chat-ment div:nth-child(1){
    font-size: 16px;
    text-align: left;
    margin: 10px;
}

.faq-url{
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(239, 239, 239);
    width: 130px;
    height: 35px;
    line-height: 15px;
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.faq-url a{
    color: rgb(66, 66, 66);
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
}

.question-item{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    margin-left: 10%;
    cursor: pointer;
    display:inline-block;
}

.question-item:hover{
    background-color: rgb(243, 243, 243);
}

.question-item-btn{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.user-talk{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 15px;
    text-align: center;
    background-color: rgba(50, 149, 240, 1);
    color: white;
    padding: 5px;
    display:inline-block;
}

.user-talk-btn{
    margin-left: 75%;
    margin-top: 10px;
}

/* .answer-target{
    display: grid;
    grid-template-columns: 1fr 9fr;
} */

.admin-answer-btn{
    margin-left: 5px;
}

.admin-counsel{
    margin-left: 40px;
    cursor: pointer;
}

.chat-answer{
    border: 1px solid rgb(200, 200, 200);;
    border-radius: 15px;
    display:inline-block;
    max-width:290px;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
    display:inline-block;
}