<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="memberMapper">
		<!-- 회원가입  -->
  <insert id="insertMember">
  
  	INSERT INTO MEMBER 
  	( 	
  		NO,
  		EMAIL,
  		PWD1,
        PHONE,
  		GENDER,
  		NICK
  	)
  	VALUES
  	(
        MEMBER_NO_SEQ.NEXTVAL,
        #{email},
        #{pwd1},
        #{phone},
        #{gender},
        #{nick}
  	)
  	
  	
  </insert>
  
  <!-- 로그인  -->
  <select id="selectOneMember" resultType="MemberVo"> 
  	SELECT * 
  	FROM MEMBER
  	WHERE EMAIL = #{email}
  	AND STATUS = 'Y'
  </select>
  
	<update id="updatePwd">
		UPDATE MEMBER 
		SET PWD1 = #{pwd1} 
		WHERE EMAIL = #{email}
	</update>
	
	<update id="updatePwdByNo">
		UPDATE MEMBER 
		SET PWD1 = #{pwd1} 
		WHERE NO = #{no}
	</update>
	
	<update id="updateEmail">
		UPDATE MEMBER
		SET EMAIL = #{email}
		WHERE NO = ${no}
	</update>
	
	<update id="updateNick">
		UPDATE MEMBER
		SET NICK = #{nick}
		WHERE NO = ${no}
	</update>
	
	<update id="updatePhone">
		UPDATE MEMBER
		SET PHONE = #{phone}
		WHERE NO = ${no}
	</update>
	
<update id="insertQuitAnswer">
 
 	UPDATE MEMBER  
 	SET
	QUIT_NO = ${quitNo},
	QUIT_VAR = #{quitVar},
	STATUS = 'N'
 	WHERE NO = #{no}
 	
 </update>
 
 
 <select id="countAddrByNo" resultType="int">
  	SELECT COUNT(*) FROM ADDRESS WHERE M_NO = #{mNo}
  </select>
	
	<insert id="insertAddr">
	INSERT INTO ADDRESS 
	(
		    NO,
		    M_NO,
		    NAME,       
		    ADDR_NO,     
		    ADDR,     
		    ADDR_DT,   
		    PHONE
	)
	VALUES
	(
    	ADDRESS_NO_SEQ.NEXTVAL,
    		#{mNo},
    		#{name},
    		#{addrNo},
    		#{addr},
    		#{addrDt},
    		#{phone}
    )
	
	</insert>
	
	<select id="selectHelpListByNo" resultType="HelpVo">
		SELECT  H.NO, H.TITLE, M.NICK AS MEMBER_NO, 
				H.STATUS, TO_CHAR(H.WRITE_DATE, 'YYYY-MM-DD') AS WRITE_DATE,
				H.SECRET_YN, H.PASSWORD
		
		FROM HELP H
		JOIN MEMBER M
		ON H.MEMBER_NO = M.NO
		WHERE MEMBER_NO = #{mNo}
		ORDER BY WRITE_DATE DESC
	</select>
	
	
	<select id="selectLikePrjByNo" resultType="ProjectVo">
	
		SELECT  P.NO AS NO, P.TITLE AS TITLE , M.NICK AS CREATOR, 
		P.STATUS AS STATUS, P.CATEGORY as CATEGORY, PA.CHANGE_NAME AS CHANGE_NAME

		FROM PROJECT P
		INNER JOIN MEMBER M
		ON P.CREATOR = M.NO
		INNER JOIN LIKE_PROJECT LP
		ON LP.PRJ_NO = P.NO
        left outer JOIN PRJ_ATTACHMENT PA
        ON PA.PRJ_NO = P.NO
        
		WHERE LP.M_NO = #{mNo}
        AND P.DELETE_YN = 'N'
        
		ORDER BY LP.LIKE_DATE DESC
		
	</select>
	
	<insert id="insertLikeMemberByNo">
		INSERT INTO LIKE_MEMBER
		VALUES
		(#{mNo},#{likeMemberNo})
	
	</insert>
	<delete id="deleteLikeMemberByNo" >
	 	DELETE LIKE_MEMBER
        WHERE M_NO = #{mNo}
        
        AND LIKE_MEMBER_NO = #{likeMemberNo}
	</delete>
	
	<select id="selectFollowingByNo" resultType="memberVo">
		
		SELECT * FROM MEMBER 
        WHERE NO IN 
        (
                SELECT LIKE_MEMBER_NO
                FROM LIKE_MEMBER
                WHERE M_NO = #{mNo}
        )
		
	</select>
	
	<select id="selectFollowerByNo" resultType="memberVo">
		
		SELECT * FROM MEMBER 
        WHERE NO IN 
        (
                SELECT M_NO
                FROM LIKE_MEMBER
                WHERE LIKE_MEMBER_NO = #{mNo}
        )
		
	</select>
	
	<update id="updateProfile">
		UPDATE MEMBER
		SET PROFILE = #{profile}
		WHERE NO = #{no}
	</update>
	
	<select id="selectReportListByNo" resultType="ReportVo">
		SELECT  R.NO, R.TITLE, SUBSTR(P.TITLE,1,15) AS PRJ,
				R.STATUS, TO_CHAR(R.ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE		
		
        
		FROM REPORT R
        JOIN MEMBER M
		ON R.REPORTER = M.NO
        JOIN PROJECT P
        ON P.NO = R.PRJ
		WHERE REPORTER = #{mNo}
		ORDER BY ENROLL_DATE DESC
	</select>
	
	<select id="selectAddrByNo" resultType="AddrVo">
		SELECT * FROM ADDRESS
		WHERE M_NO = #{mNo}
	
	
	</select>
	<delete id="deleteAddr">
	DELETE ADDRESS
	WHERE NO =#{no}
	AND   M_NO =#{mNo}
	
	</delete>
	
	<select id="selectOneMemberByNo" resultType="memberVo">
		SELECT PWD1 FROM MEMBER
		WHERE NO = #{no}
		
	</select>
	
	<select id="selectEmailByPhone" resultType="String">
		SELECT EMAIL FROM MEMBER
		WHERE PHONE = #{phone}	

	</select>
	
	<select id="selectAddrOne" resultType="AddrVo">
		SELECT * FROM ADDRESS
		WHERE NO = {addrNo}
	
	</select>
</mapper>