<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="memberMapper">
		<!-- 회원가 -->
  <insert id="insertMember">
  
  	INSERT INTO MEMBER 
  	( 	
  		NO,
  		EMAIL,
  		PWD1,
        PHONE,
  		GENDER,
  		NICK
  	)
  	VALUES
  	(
        MEMBER_NO_SEQ.NEXTVAL,
        #{email},
        #{pwd1},
        #{phone},
        #{gender},
        #{nick}
  	)
  	
  	
  </insert>
  
  <!-- 로그인  -->
  <select id="selectOneMember" resultType="MemberVo"> 
  	SELECT * 
  	FROM MEMBER
  	WHERE EMAIL = #{email}
  	AND STATUS = 'Y'
  </select>
  
	<update id="updatePwd">
		UPDATE MEMBER 
		SET PWD1 = #{pwd1} 
		WHERE EMAIL = #{email}
	</update>
	
	<update id="updateEmail">
		UPDATE MEMBER
		SET EMAIL = #{email}
		WHERE NO = ${no}
	</update>
	
	<update id="updateNick">
		UPDATE MEMBER
		SET NICK = #{nick}
		WHERE NO = ${no}
	</update>
	
	<update id="updatePhone">
		UPDATE MEMBER
		SET NICK = #{phone}
		WHERE NO = ${no}
	</update>
	
<insert id="insertQuitAnswer">
 
 	INSERT INTO QUIT_ANSWER 
 	( 	
 		M_NO,
 		A_NO,
 		A_VAR
 	)
 	VALUES
 	(
       #{mNo},
       #{aNo},
       #{aVar}
 	)
 	
 	
 </insert>
	<update id="updateStatus">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE NO = ${mNo}
	</update>
</mapper>