/*헤더 fixed*/
.navi-menu{
    margin-bottom: 50px;
    padding: 0 15% 0 15%;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 100;
    margin: 0px auto;
}
.content-editor{
    padding: 15px 0px 10px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.editor-logo{
    display : flex;
    align-items: center;
}
.editor-buttons{
    display: flex;
    align-items: center;
}
.logo-img{
    cursor: pointer;
    height : 80px;
    padding : 15px 20px 10px 0;
}
.buttons-storage{
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 20px;
    color: #567ace;
    border: 1px solid #567ace;
    background-color: #fff;
    letter-spacing: 0.1em;
}
.buttons-request{
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 20px;
    color: #567ace;
    border: 1px solid #567ace;
    background-color: #fff;
    letter-spacing: 0.1em;
}
.buttons-goout>img{
    margin-top: 5px;
    width: 27px;
    height: 27px;
    color: #567ace;
}
.content-menu{
    width: 100%;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-evenly;
    padding: 0px 16px;
    overflow-x: auto;
    margin: 0px auto;
    height: 40px;
    border-bottom :1px solid #AFAFAF;
}
.content-menu :nth-child(3){
    color: #567ace;
    padding-bottom: 12px;
    border-bottom :5px solid #567ace;
}
.content-menu>div:not(.content-menu :nth-child(2)){
    position: relative;
    padding-bottom: 12px;
}
.content-menu>div:hover{
    color: #567ace;
} 
.header-menubar{
    width: 70vw;
    height: 48px;
    padding-top: 200px 15% 0 15%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(240, 240, 240)
}
.menu-button{
    max-width: 1080px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 18px;
}
.menu-button>button>svg{
    margin-bottom: 3px;
    color: #567ace;
}
.menu-button>button:first-child{
    border: 0px;
    background: transparent;
    color: rgb(61, 61, 61);
    opacity: 0.3;
    padding: 0px;
    margin-right: 18px;
    outline: none;
}
.menu-button>button:first-child:hover, .menu-button>button:last-child{
    border: 0px;
    background: transparent;
    color: rgb(61, 61, 61);
    opacity: 1;
    padding: 0px;
    margin-right: 18px;
    outline: none;
    font-weight: bold;
}
/*여기까지 헤더 fixed*/

#container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 250px 15% 0 15%;
    width: 70vw;
}
.content-box{
    display: flex;
    flex-wrap: nowrap;
    width: 70vw;
    min-height: calc(100vh - 298px);
    position: relative;
    padding: 0px 0px 98px;
    margin-top: -34px;
    justify-content: center;
}
.preview-box{
    width: 360px;
    --width: 27vw;
}
.preview-set{
    padding: 40px 12px 24px;
    --border-right: 1px solid rgb(240, 240, 240);
}
.making-box{
    display: block;
    width: 630px;
    --width: 60vw;
}
.making-set{
    margin-top: 76px;
}
.making-set>div{
    padding: 44px 48px;
    
    box-sizing: border-box;
}
.preview-set>div{
    min-height: 24px;
    font-weight: 700;
    position: relative;
    margin: 0px 0px 20px !important;
    font-size: 16px !important;
    line-height: 24px !important;
    padding-left: 35px;
}
.preview-set>div>ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.set-list{
    --padding: 0px;
    --list-style: none;
    overflow: hidden;
    --min-height: 90px;
    --height: 170px;
    border-radius: 4px;
    position: relative;
    background: rgb(255, 255, 255);
    border: 1px solid #567ace;
    box-sizing: border-box;
    margin: 0px 0px 12px;
}
.set-list>button{
    --width: 100%;
    --min-height: 90px;
    padding: 15px 28px;
    text-align: left;
    box-sizing: border-box;
    border: 0px;
    background: transparent;
}
.set-list>button:last-child{
    padding-left: 110px;
}
.set-buttons{
    display: flex;
    justify-content: space-between;
}
.set-buttons>strong{
    font-size: 20px !important;
}
strong{
    display: block;
    color: rgb(61, 61, 61);
    margin: 0px 0px 8px;
    max-width: 222px;
    font-size: 16px !important;
    line-height: 28px !important;
}
strong+div{
    font-weight: 400;
    --position: absolute;
    color: rgb(109, 109, 109);
    font-size: 14px !important;
}
.set-item{
    padding-left: 25px;
}
.set-item>li{
    font-weight: 400;
    font-size: 14px !important;
}
.post-set{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
}
.set-notice{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 30px;
}
.set-option{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.set-option>input{
    border-radius: 10px;
    border: 1px solid #567ace;
    height: 30px;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
}
.set-option>span{
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 3px 0 0 5px;
}
.button-submit{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
input[name=save]{
    border-radius: 10px;
    color: #fff;
    background-color: #567ace;
    width: 125px;
    height: 35px;
    text-align: center;
    border: none;
    font-weight: 700;
}
.add-option{
    width: 60%;
    display: flex;
    justify-content: center;
}
.none{
    cursor: pointer;
    border-radius: 10px;
    color: rgb(61,61,61);
    border: 1px solid #567ace;
    width: 100px;
    height: 35px;
    text-align: center;
    padding-top: 6px;
    margin-right: 20px;
    font-size: 14px;
}
.add{
    cursor: pointer;
    border-radius: 10px;
    color: rgb(61,61,61);
    border: 1px solid #567ace;
    width: 100px;
    height: 35px;
    text-align: center;
    padding-top: 6px;
    margin-right: 20px;
    font-size: 14px;
}
.add-option>input{
    display: none;
}
input[type=radio]:checked + label > p{
    cursor: pointer;
    border-radius: 10px;
    color: rgb(61,61,61);
    border: 3px solid #567ace;
    width: 100px;
    height: 35px;
    text-align: center;
    padding-top: 4px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 400;
}
.block{
    display: block;
}
.textbox{
    display: none;
}
textarea[name=addOption]{
    resize: none;
    font-size: 14px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 10px;
    border: 1px solid #567ace;
}
*{
    outline: #567ace;
}
