@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

html { 
	--gray: #B1B1B1;
	--small-font: 14px;
	--main-color: #567ACE;
	--sub-color: #99ABD6;
}

* {
	box-sizing: border-box;
	letter-spacing: -0.05em;
	font-family: Pretendard-Regular;
}

#header-container {
	width: 70vw;
	margin: auto;
}

.header-menu-container {
	width: 70%;
	margin: auto;
	padding: 30px;
}

.header-home-container {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	margin-top: 30px;
	border-bottom: 1px solid #D9D9D9;
	padding-bottom: 20px;
}
.header-home-container>div:nth-child(2) {
	display: flex;
	align-items: center;
}
.header-home-container>div:nth-child(2)>img {
	cursor: pointer;
}

.box {
	grid-row: 1/2;
	display: flex;
	justify-content: center;
}

.menu-area {
	display: flex;
	justify-content: space-evenly;
}

.menu-area>div {
	font-size: 16pt;
}

.member-area {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 20px;
	align-items: flex-end;
	justify-content: space-around;
}

.member-area .id-area {
	width: 145px;
	height: 40px;
	right: 0;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	cursor: pointer;
}

.member-area .id-area:hover {
	color: white;
	background-color: #567ACE;
}

.logo-img {
	width: 130px;
	height: 100px;
}

.search-box {
	box-sizing: border-box;
	width: 100%;
	height: 39px;
	background-color: #F1F1F1;
	border-radius: 10px;
	padding-left: 10px;
}

.input-hidden {
	height: 100%;
	border: 0px;
	background: none;
}

.input-hidden:focus {
	outline: none;
}

/* 호버 효과 */
a {
	position: relative;
	text-decoration: none;
	color: #343434;
}
a>span {
	position: relative;
	z-index: 1;
}
a>span:hover {
	font-weight: bold;
}
a>span::after {
	content: '';
	display: block;
	width: 0;
	height: 10px;
	position: absolute;
	left: 0;
	bottom: 0px;
	background: var(--main-color);
	opacity: 0.5;
	z-index: 0;
}
a:hover>span::after {
	width: 100%;
	transition: width .3s;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}	

.material-symbols-outlined {
	color: #8F8F8F;
	border: none;
	background: none;
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20
}

/* fixed */
.fixed {
	position: fixed;
	left: 0;
	top: 0;
	background-color: white;
	width: 100%;
	padding: 30px 27%;
	z-index: 1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1);
}