<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/blank/resources/css/admin/menu.css">
<link rel="stylesheet" href="/blank/resources/css/common/reset.css">
</head>
<style>

.notice-header h1{
    text-align: center;
}

.notice-list{
    width: 760px;
    height: auto;
    display: grid;
    border: 1px solid blue;
    margin-left: 20%;
}

.notice-list div{
    border-bottom: 1px solid red;
}

</style>

<body>

    <%@ include file = "/WEB-INF/views/common/header.jsp" %>

    <header class="notice-header">
        <h1>공지사항</h1>
    </header>
	
    <main class="notice-list">

        <div>
            블랭크 창작자 대모집(~23년 1월)
            <br>
            2022-12-04
        </div>

        <div>
            블랭크 창작자 대모집(~23년 1월)
            <br>
            2022-12-04
        </div>

        <div>
            블랭크 창작자 대모집(~23년 1월)
            <br>
            2022-12-04
        </div>

        <div>
            블랭크 창작자 대모집(~23년 1월)
            <br>
            2022-12-04
        </div>

        <div>
            블랭크 창작자 대모집(~23년 1월)
            <br>
            2022-12-04
        </div>

    </main>

<%@ include file = "/WEB-INF/views/common/footer.jsp" %>
    
</body>
</html>