a {
    text-decoration-line: none;
    color: rgb(71, 71, 71);
}

main{
    border: 1px solid rgba(197, 197, 197, 1);
    border-top: none;
    border-radius: 3px;
    margin-left: 28%;
    margin-right: 28%;
    margin-bottom: 50px;
}

.faq-header{
    width: 1180px;
    margin-left: 28%;
}

.faq-header h1{
    font-size: 30px;
    font-weight: 100;
    color: rgba(53, 53, 53, 1);
}

.faq-list{
    color: rgba(53, 53, 53, 1);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 43px 43px 290px 43px;
}

.faq-list div{
    border-top: 1px solid rgba(197, 197, 197, 1);
    line-height: 48px;
    font-size: 16px;
}

.faq-list .content-style{
	padding-left: 10px;
}

.faq-title{
    text-align: center;
    border-right: 1px solid rgba(197, 197, 197, 1);
    background-color: rgba(239, 239, 239, 1);
}

#detail-close{
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-btn{
    border: none;
    background-color: white;
    margin-left: 70%;
    margin-bottom: 5px;
}

