<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

   <settings>
      <setting name="jdbcTypeForNull" value="NULL"/>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>

   <typeAliases>
      <typeAlias type="com.blank.app.admin.vo.AdminVo" alias="AdminVo"/>
      <typeAlias type="com.blank.app.admin.vo.NoticeVo" alias="NoticeVo"/>
      <typeAlias type="com.blank.app.admin.vo.FaqVo" alias="FaqVo"/>
      <typeAlias type="com.blank.app.admin.vo.HelpVo" alias="HelpVo"/>
      <typeAlias type="com.blank.app.member.vo.MemberVo" alias="MemberVo"/>
      <typeAlias type="com.blank.app.project.vo.ProjectVo" alias="ProjectVo"/>
      <typeAlias type="com.blank.app.project.vo.TimeVo" alias="TimeVo"/>
      <typeAlias type="com.blank.app.report.vo.ReportVo" alias="ReportVo"/>
      <typeAlias type="com.blank.app.pay.vo.PayVo" alias="PayVo"/>
      <typeAlias type="com.blank.app.member.vo.AddressVo" alias="AddrVo"/>
      <typeAlias type="com.blank.app.project.vo.LikeProjectVo" alias="LikeProjectVo"/>
      <typeAlias type="com.blank.app.quit.vo.QuitVo" alias="QuitVo"/>
   </typeAliases>

</configuration>