.quit-board-content{
    /* border: 1px solid red; */
    width: 1625px;
    margin: 0;
    display: grid;
    grid-template-columns: 290px 100%;
}

#quit-content{
    display: grid;
    grid-template-rows: 65px 9fr;
}

.quit-board-header{
    height: 65px;
    color: rgba(90, 90, 90, 1);
    display: grid;
    grid-template-columns: 1fr 7fr;
    background-color: rgba(237, 236, 236, 1);;
}

.quit-board-header div:nth-child(1){
    line-height: 25px;
    margin-left: 10px;
}

.quit-board-header div:nth-child(2){
    line-height: 27px;
    margin-left: 5px;
}

.quit-board-middle{
    background-color: rgba(237, 236, 236, 1);
    border: 1px solid rgba(197, 197, 197, 1);
}

#insert-btn{
    margin-left: 93%;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    color: white;
    background-color: rgba(86, 122, 206, 1);
    cursor: pointer;
}

.quit-board-items{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 6%;
}

.quit-items{
    /* border: 1px solid red; */
    border: 1px solid rgba(197, 197, 197, 1);
    border-radius: 8px 8px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(62, 62, 62);
}

.quit-content{
    border: 1px solid rgba(197, 197, 197, 1);;
    border-top: none;
}

.quit-content div{
    line-height: 35px;
    font-size: 18px;
    color: rgb(62, 62, 62);
    border: none;
    text-align: center;
}

.quit-content div:nth-child(5n){
    border: none;
}

.quit-items div:nth-child(1){
    border-radius: 8px 0px 0px 0px;
}

.quit-items div:nth-child(5){
    border-radius: 0px 8px 0px 0px;
}

.content{
    display: block;
}

.quit-content input[type="text"]{
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.quit-items .quit-title{
    background-color: rgba(218, 218, 218, 1);
}

.quit-content{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
}

.quit-content div{
    border-right: 1px solid rgba(197, 197, 197, 1);
    background-color: white;
    font-size: 15px;
}

#delete-quit-btn{
    color: gray;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
}

#delete-quit-btn:hover{
    color: rgb(0, 76, 255);
}